<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTbgmx1v7KsX3HBbYM1bLoJ0A8f7JXIB0</string>
	<key>GCM_SENDER_ID</key>
	<string>19934807839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allcalculator.allcalculator</string>
	<key>PROJECT_ID</key>
	<string>master-calculator-b6d88</string>
	<key>STORAGE_BUCKET</key>
	<string>master-calculator-b6d88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19934807839:ios:eaa25430faa3662204522a</string>
</dict>
</plist>